# Pliki konfiguracyjne Qt Creator i użytkownika
*.user
*.qtds
*.qmlproject.user
*.pro.user
*.autosave

# Pliki buildów i wygenerowane dane
/build/
/Generated/
/Dependencies/

# Pliki CMake
CMakeLists.txt.user
CMakeLists.txt.shared
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Inne pliki tymczasowe
*.log
*.obj
*.o
*.tmp
*.swp
*.conf
